:root {
  --primary-color: orange;
  --secondary-color: purple;
  --white: #fff;
  --widget-content: #e7ebf0;
}

.main-screen[data-theme="light"] {
  --white: #fff;
  --widget-content: #e7ebf0;
}

.main-screen[data-theme="dark"] {
  --white: #000;
  --widget-content: #252627;
}
